/*@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:300i|Lora:700|Pavanam');*/

@import url('https://fonts.googleapis.com/css?family=Concert+One|Didact+Gothic|Fredoka+One');

*{
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    overflow: auto;
}

body {
    background:
        linear-gradient(purple 0%, red 90%),
        url('/img/gbk_bg.jpg');
    background-blend-mode: screen;
    /*font-family: 'Pavanam', sans-serif*/
    font-family: 'Didact Gothic', serif;
    font-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;

}

h1 {
    /*font-family: 'Lora', serif*/
    font-family: 'Fredoka One', serif;
    font-size: 50px;
    margin: 10px;
    text-shadow: -1px -1px red,
                    1px 1px white; 
}

h2, h3, h4 {
    /*font-family: 'Josefin Slab', serif*/;
    font-family: 'Didact Gothic', serif;
    font-weight:900;
}

h2 {
    font-size: xx-large;
}

.header {
    font-family: 'Didact Gothic', serif;
    font-size: 20px;
    background-color: #ffeb3b;
    height: 100px;
    top: 0;
    margin-bottom: 10px;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px
}

.header p{
    align-self: flex-start;
    font-size: 30px;
}

.header a {
    color: #9c27b0;
    text-decoration: none
}

.header a:hover{
    color: white;
}

.container {
    background-color: rgba(255,255,255, 0.93);
    padding: 20px;
    margin: 5%;
}

label {
    font-size: 18px;
}

input[type=text] {
    font-size: 20px;
}

textarea {
    font-size: 18px;
    height: 200px;
    width: 400px;
}

.container ul {
    list-style: none;
}

.container li {
    margin: 10px;
    font-size: 20px;
}

.container a {
    text-decoration: none;
    font-weight: bolder;
    color: firebrick;
}

.container a:hover  {
    text-decoration: underline;
    color: lightyellow;
}

.products {
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    align-content: space-between;
}

.products p {
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 30%;
    /*background-color: lightgoldenrodyellow;*/
    border-radius: 25px;
    padding: 10px;
}

    .products p:nth-child(5n+2) a {
        color: #e6b800;

    }

.products p:nth-child(5n+3) a {
    color: limegreen;
}

.products p:nth-child(5n+4) a {
    color: orange;
}

.products p:nth-child(5n+5) a {
    color: red;
}

#modal-review {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color:rgba(0,0,0,0.75);
    display: none;
    justify-content: space-around;
    align-items: center;
    }

.form {
    position: relative;
    background-color: white;
    padding: 50px;
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
.form input[type=text] {
    background-color: lightgray;
    border: none;
}
.form input[type=submit] {
    background-color: yellow;
    padding: 25px 50px;
    width: 100%;
    font-size: large;
    border: 0;
}

.form input[type=submit]:hover {
    background-color: purple;
    color: white;
    cursor: pointer;
}

.form textarea {
    width: 100%;
    margin-bottom: 50px;
}

.exit-button {
    position: absolute;
    top: 0;
    right: 0;
    background-color: yellow;
    padding: 5px 10px;
}

.exit-button:hover {
    background-color: red;
    cursor: pointer;
}

.home-products {
    display: flex;
    justify-content: space-around;
}

a {
    font-weight: bolder;
}

.details-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5%;
}

.details-product {
  width: 100%;
}

.details-reviews {
  width: 100%;
}

.details-button {
  background-color: yellow;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  margin-top: 5%;
  margin-bottom: 5%;
}

.details-button:hover{
  background-color: purple;
  color: white;
  cursor: pointer;
}

.button {
  width: 30%;
}

.review {
  background-color: lightyellow;
  padding: 10px;
  margin-bottom: 20px;
}

img {
  width: 100%;
}
.stars {
  display: flex;
  margin: 5px;
}
.star {
  display: inline;
  width: 16px ;
}
.half-star {
  width: 8px;
  display: inline;
  overflow: hidden;
}
.number {
  padding-left: 8px;
}

@media only screen and (min-width: 768px) {
  .details-container {
    justify-content: space-around;
    padding: 0;
  }
  .details-reviews, .details-product {
      width: 40%;
  }

  .details-reviews {
    overflow: scroll;
  }
}
