*{
    padding: 0;
    margin: 0;
}

html, body {
    /*height: 100%;*/
    overflow: hidden;
}

body {
    background:
        linear-gradient(yellow 0%, pink 90%),
        url('/img/gbk_bg.jpg');
    background-blend-mode: overlay;
}

.header {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    background-color: salmon;
    height: 150px;
    top: 0;
    margin-bottom: 10px;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 10px;

}

.header p{
    align-self: flex-start;
}

.header a{
    color: navajowhite;
    text-decoration: none;
}

.header a:hover{
    color: white;
}

.container {
    font-family;    background-color: rgba(255,255,255, 0.8);
    padding: 10px;
    margin: 5%;
}