<html>
    <head>
        <title></title>
        <script src="https://use.fontawesome.com/2f75641b99.js"></script>
        <script src="/js/scripts.js"></script>
        <link rel="stylesheet" href="/css/master.css">
    </head>
    <body>
        @Html.Partial("Header")
            @RenderBody()
        <div class="container">
        </div>
    </body>
</html>