<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="/css/master.css">
    </head>
    <body>
        @Html.Partial("Header")
        <div class="container">
            @RenderBody()
        </div>
    </body>
</html>