<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="/css/master.css">
    </head>
    <body>
        <div class="page-bg">
            @Html.Partial("Header")
            <div class="container">
                @RenderBody()
            </div>
        </div>
    </body>
</html>